.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg {
    background: #F0EAD6;
}

.footer {
    background: #002366;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.news {
    text-align: center;
}

.news-content {
    padding: 10px;
}

.news-header {
    background: #002366;
    color: white;
    padding: 10px;
    font-size: 30px;
}
